<<div class="cart-title">Your Cart</div>
<table>
<!--  <%= render(:partial => "cart_item", :collection => @cart.items) %>  -->

  
  <tr class="total-line">
    <td colspan="2">Total  </td>
    <td class="total-cell"><%= number_to_currency(@cart.total_price) %></td>
  </tr>
  <td><%= link_to 'remove', {:controller => 'store', :action => 'remove_cart_item', :id => "#{cart_item.getproductid}"} %></td>
</table>
  
<%= button_to "Empty cart", :action => :empty_cart %>

